<html id="html">
  <meta charset="utf-8">
  <title>新标签页</title>
  
  <body id="body">
    <h2>跨页面</h2>
    <div id="msgContent">
    </div>
  </body>
</html>

<script src="/tCommunication.js"></script>
<script>

  let t = new tCommunication({
    accessOptions: {
      ajax: {
        address: "/ajax",
        type: "ajax",
        success: (data) => {
          console.log("收到的消息:");
          console.log(data);
        }
      }
    },
    now: true,
    timerOptions: {}
  });
  
</script>